# Gradle
build/
.gradle

# Eclipse
bin/
.settings/
.classpath
.project

# IntelliJ
*.iml
*.ipr
*.iws
out/

# Run files
run/*
saves/

# Research (due to copyright we cant share this, shoutout to rawaho/kiwido for helping with this)
research/
