# Gradle
build/
.gradle

# Eclipse
bin/
.settings/
.classpath
.project

# IntelliJ
*.iml
*.ipr
*.iws
out/

# Run files
run/*
saves/

# Research (due to copyright we cant share this, shoutout to rawaho/kiwido for helping with this)
research/
/clientmods/org.asf.centuria.client.plugin/lib/feral/UnityEngine.CoreModule.dll
Centuria.jar

update.list
updater.jar
