# Gradle
build/
.gradle

# Dependencies
deps/

# Eclipse
bin/
.settings/
.classpath
.project

#VSCode
.vscode/

# IntelliJ
*.iml
*.ipr
*.iws
out/

# Run files
run/*
saves/

# Research (due to copyright we cant share this, shoutout to rawaho/kiwido for helping with this)
research/
clientmods/org.asf.centuria.client.plugin/lib
clientmods/org.asf.centuria.client.chartmod/lib
clientmods/org.asf.centuria.client.chartmod/run

update.list
updater.jar

# macOS
**/.DS_Store
